<html>

<head>
    <title>Homepage</title>

    <link rel="stylesheet" href="/styles.css">


</head>

<body>
    <div class="container">
        <h1>Message Board</h1>

        <ul class="messages-list">
            <% messages.forEach(function(message) { %>
                <li class="message-card">

                    <div class="author">
                        <%= message.author %>
                    </div>
                    <div class="message-text">
                        <%= message.message %>
                    </div>
                    <div class="date">
                        <%= message.date %>
                    </div>
                </li>
                <% }) %>
        </ul>

        <a href="/new" class="btn">+ New Message</a>
    </div>
</body>

</html>