<html>

<head>
    <title>Homepage</title>

    <link rel="stylesheet" href="/styles.css">


</head>

<body>
    <div class="container">
        <h1>Message Board</h1>

        <ul class="messages-list">
            <% messages.forEach(function(message) { %>
                <li class="message-card">

                    <div class="author">
                        <%= message.username %>
                    </div>
                    <div class="message-text">
                        <%= message.message %>
                    </div>

                    <button class="btn" onclick="window.location.href='/message/<%= message.id %>'">Open
                        Message</button>
                    <form action="/message/<%= message.id %>/delete" method="POST" style="display:inline;">
                        <button type="submit" class="btn-delete"
                            onclick="return confirm('Are you sure you want to delete this message?');">Delete</button>
                    </form>
                </li>
                <% }) %>

        </ul>
        <a href="/new" class="btn">+ New Message</a>
    </div>
</body>

</html>